 .home{
    height: 100vh;
    background-color:black;
 }
 .home img{
    height: 100%;
 }
 h2.Home{
    font-size: 80px;
    margin-top: 10px;
    color: hwb(39 3% 0% / 0.836)
    ;
 }
 p.Home{
    font-size: 25px;
    color: white;
    margin-top: 50px;
 }