.nav-item{
    padding-left: 50px !important;
    
}
.nav-link:hover{
    background-color: #ffa808d5;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    
}
.header__logo-image{
    object-fit: cover;

}

@media(max-width:576px){
    .navbar img{
        width: 200px;
        height: 50px;
    }
    .navbar-toggler{
        background-color: #ffa808d5;
        width: 50px !important;
        height: 50px !important;
        margin-right: 17px;
        border-radius: 10px;
    }
  
    .nav-item {
        padding: 5px 0;
        
    }
    /* .navbar input{
        width: 200px;
        height:30px;
        padding-bottom: 12px;
        padding-left: 20px;
    }
    .navbar button{
        width: 130px;
        height: 30px ;
        padding-bottom: 25px;
        padding-left: 15px;
    } */
}
 